body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.container {
    width: 30vw;
    height: 50vh;
    border: solid black;
}

button{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.box{
    margin: 0 auto;
    background-color: aquamarine;
    width: 200px;
    height: 200px;
}


