
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

button{
  background-color: #727d93;
  color: white;
  width: 12rem;
  height: 2rem;
  font-weight: bold;
}

